// Workflow details
manifest {
    author              = 'Georgie Samaha, Sydney Informatics Hub, University of Sydney'
    name                = 'GermlineStructuralV-nf'
    description         = 'Multi-caller germline structural variant calling pipeline'
    homePage            = 'https://github.com/Sydney-Informatics-Hub/Germline-StructuralV-nf'
    }

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion     = '!>=20.07.1'

// Set default parameters
params {
  version	          	= '1.0'
  help		          	= false
  input		          	= null
  ref		          		= false
  intervals	        	= false
  outDir		        	= './results'
  survivorMaxDist	  	= 1000
  survivorConsensus 	= 1
  survivorType	    	= 1
  survivorStrand	  	= 1
  survivorSize	    	= 40
  annotsvDir	      	= false
  annotsvMode	      	= 'both'
  extraMantaFlags   	= false
  extraSmooveFlags  	= false
  extraTidditCovFlags	= false
  extraTidditSvFlags	= false
  extraAnnotsvFlags 	= false
  gadi_account       	= false
  setonix_account     	= false
  whoami            	= false
}

// Preset use of containers with Singularity
singularity {
    enabled		    = true
    autoMounts		= true
    }

// Job profiles
profiles {
  local		{ includeConfig "config/local.config" }
  nimbus	{ includeConfig "config/nimbus.config" }
  gadi		{ includeConfig "config/gadi.config" }
  setonix	{ includeConfig "config/setonix.config" }
}

// Fail a task if any command returns non-zero exit code
shell = ['/bin/bash', '-euo', 'pipefail']

// Resources for each process
// default run resource parameters
process {

withName: 'smoove' {
	cpus    = 4
	memory  = 40.GB
  container	= 'brentp/smoove:v0.2.7'
  }

withName: 'rehead_smoove' {
  container	= 'quay.io/biocontainers/bcftools:1.15.1--hfe4b78e_1'
  }

withName: 'manta' {
	cpus    = 10
	memory = 40.GB
  container	= 'quay.io/biocontainers/mulled-v2-40295ae41112676b05b649e513fe7000675e9b84:0b4be2c719f99f44df34be7b447b287bb7f86e01-0'
  }

withName: 'rehead_manta' {
  container	= 'quay.io/biocontainers/bcftools:1.15.1--hfe4b78e_1'
  }

withName: 'tiddit_sv' {
	cpus = 4
	memory = 40.GB
  container	= 'quay.io/biocontainers/tiddit:3.6.0--py310hc2b7f4b_0'
  }

withName: 'rehead_tiddit' {
  container	= 'quay.io/biocontainers/bcftools:1.15.1--hfe4b78e_1'
}

withName: 'tiddit_cov' {
	cpus = 1
	memory = 10.GB
  container	= 'quay.io/biocontainers/tiddit:3.6.0--py310hc2b7f4b_0'
  }

withName: 'survivor_merge' {
	cpus = 1
	memory = 10.GB
  container	= 'quay.io/biocontainers/survivor:1.0.7--hd03093a_2'
  }

withName: 'survivor_summary' {
	cpus = 1
	memory = 10.GB
  container	= 'quay.io/biocontainers/survivor:1.0.7--hd03093a_2'
  }

withName: 'annotsv' {
	cpus = 1
	memory = 10.GB
  container = 'sydneyinformaticshub/annotsv:3.2.1'
  }
}



// Define timestamp, to avoid overwriting existing trace
def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

// Produce a workflow diagram
dag {
  enabled = true
  file = "${params.outDir}/runInfo/GermlineStructuralV_dag_${timestamp}.svg"
}

report {
  enabled = true
  file = "${params.outDir}/runInfo/GermlineStructuralV_report_${timestamp}.html"
}

timeline {
  enabled = true
	overwrite = true
	file = "${params.outDir}/runInfo/GermlineStructuralV_timeline_${timestamp}.html"
}

trace {
	enabled = true
	overwrite = true
  file = "${params.outDir}/runInfo/GermlineStructuralV_trace_${timestamp}.txt"
  fields = 'process,name,status,queue,realtime,cpus,%cpu,memory,%mem,rss,env'
}
