manifest {
  author = 'Georgie Samaha'
  name = 'bamQC-nf'
  description = 'Pipeline for producing quality control reports of alignment files (bam)'
  homePage = 'https://github.com/Sydney-Informatics-Hub/bamQC-nf'

// Mandate a minimum version of nextflow required to run the pipeline
  nextflowVersion = '!>=20.07.1'
}

// resume pipeline from last successful process
  resume = true

// Set default parameters
// Any parameters provided by the user with a -params-file or
// with --param (i.e. --outDir) command-line arguments will
// override the values defined here
  params.cohort		    = false
  params.help		      = false
  params.ref		      = false
  params.mantaBED		  = "/data/Reference/HG38_manta_include.bed.gz"
  params.mantaBED_tbi	= "/data/Reference/HG38_manta_include.bed.gz.tbi"
  params.outDir       = "./results"

// Resource allocation

  params.cpus = 8 
  params.smooveCPUs = 3

// Preset use of containers with Singularity
  singularity {
        enabled = true
        autoMounts = true
        temp = '~/containers'
        }

  params.manta__container	    = 'docker://quay.io/biocontainers/manta:1.6.0--h9ee0642_2'
  params.smoove__container	  = 'docker://brentp/smoove:v0.2.7'
  params.tiddit__container	  = 'docker://quay.io/biocontainers/tiddit:3.3.1--py39h5094d80_0'
  params.survivor__container	= 

// Fail a task if any command returns non-zero exit code
  shell = ['/bin/bash', '-euo', 'pipefail']

// Produce a workflow diagram
  dag {
    enabled = true
    file = 'runInfo/dag.svg'
  }

  report {
    enabled = true
    file = 'runInfo/report.html'
  }

  timeline {
    enabled = true
    file = 'runInfo/timeline.html'
  }

  trace {
    enabled = true
    file = 'runInfo/trace.txt'
  }
