// profile for the Gadi supercomputer at NCI

// Gadi specific parameters
// More info: https://opus.nci.org.au/display/DAE/Nextflow
params {
    pbs_account = false
    whoami = false
}

// Preset use of containers with Singularity
singularity {
    enabled = true
    cacheDir = "/scratch/${params.pbs_account}/${params.whoami}/.nextflow/singularity"
    autoMounts = true
    autoCleanUp = true
    temp = "scratch/${params.pbs_account}/${params.whoami}/containers"
    beforeScript = '../scripts/pullContainers.sh'
}

process {
    module = 'singularity'
    cache = 'lenient'
    stageInMode = 'symlink'
    project = "${params.pbs_account}"
    storage = "scratch/${params.pbs_account}+gdata/${params.pbs_account}"
    
    withName: 'checkInputs' {
	executor = 'local'
}
    withName: 'manta' {
	executor = 'pbspro'
	queue = 'normal'
	cpus = 10
        time = '4h'
        memory = '40.GB'
}

    withName: 'rehead_manta' {
        executor = 'local'
}

    withName: 'smoove' {
        executor = 'pbspro'
        queue = 'normal'
	disk = '400.GB'
        cpus = 4
        time = '8h'
        memory = '190.GB'
}

    withName: 'rehead_smoove' {
        executor = 'local'
}

    withName: 'tiddit_sv' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 4
        time = '12h'
        memory = '40.GB'
} 

    withName: 'rehead_tiddit' {
        executor = 'local'
}

    withName: 'tiddit_cov' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
        time = '12h'
        memory = '10.GB'
}

    withName: 'survivor_merge' {
        executor = 'local'
}

    withName: 'survivor_summary' {
        executor = 'local'
}

    withName: 'annotsv' {
        executor = 'local'

}}
