params.cluster = 'nimbus'

workDir = '/data/work/temp/nxf_work'
process.cache = 'lenient'

params {
    localdir = '/tmp/nextflow_trinity_nf_\$(whoami)_\$\$'
    // add singularity cache dir 
}
process {

// Smoove
	withName: 'smoove' {
		cpus = 10
		memory  = 8.GB
	}

// Manta
	withName: 'manta' {
		cpus = 10
		memory = 40.GB                                    
	}

// Tiddit
    withName: 'tiddit_sv' 
        cpus = 10
        memory = 40.GB

    withName: 'tiddit_cov' 
        cpus = 1
        memory = 10.GB

// Survivor
    withName: 'survivor_merge' 
        cpus = 1
        memory = 10.GB

// VEP 
    withName: 'VEPcache_run'
        cpus   = 4 
        memory = 10.GB
}