params.cluster = 'nimbus'

workDir = '/data/work/temp/nxf_work'
process.cache = 'lenient'

process {

// Smoove
	withName: 'smoove' {
		cpus = 10
		memory  = 8.GB
	}

// Manta
	withName: 'manta' {
		cpus = 10
		memory = 40.GB                                    
	}

// Tiddit
    withName: 'tiddit_sv' 
        cpus = 10
        memory = 40.GB

    withName: 'tiddit_cov' 
        cpus = 1
        memory = 10.GB

// Survivor
    withName: 'survivor_merge' 
        cpus = 1
        memory = 10.GB

// AnnotSV 
    withName: 'annotsv'
        cpus   = 1 
        memory = 10.GB
}