/// profile for the Setonix supercomputer at Pawsey

/// Set default parameters
// Any parameters provided by the user with a -params-file or 
// with --param (i.e. --outDir) command-line arguments will 
// override the values defined here

params {
    config_profile_description = 'Setonix at Pawsey Supercomputing Research Centre, Perth, Western Australia'
    help     = false
    input    = false
    max_time = 24.h
}

singularity {
  enabled = true
  envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
}

process {
  executor = 'slurm'
  module = 'singularity/3.8.6-nompi'
  queue = 'work'
  queueSize = 1024
  cache = 'lenient'
  stageInMode = 'symlink'
}
