/// profile for the Setonix supercomputer at Pawsey

/// Set default parameters
// Any parameters provided by the user with a -params-file or 
// with --param (i.e. --outDir) command-line arguments will 
// override the values defined here

params {
    config_profile_description = 'Setonix at Pawsey Supercomputing Research Centre, Perth, Western Australia'
    help     = false
    input    = false
    max_time = 24.h
}

singularity {
  enabled = true
  envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
  autoCleanUp = true
}

process {
  executor = 'slurm'
  module = 'singularity/3.8.6-nompi'
  queue = 'work'
  queueSize = 1024
  cache = 'lenient'
  stageInMode = 'symlink'

    withName: 'checkInputs' {
	    executor = 'slurm'
        cpus = 1
        time = '10m'
        memory = '1.GB'
    }

    withName: 'manta' {
        executor = 'slurm'
        cpus = 10
        time = '24h'
        memory = '40.GB'
    }

    withName: 'rehead_manta' {
	    executor = 'slurm'
        cpus = 1
        time = '10m'
        memory = '1.GB'
    }

    withName: 'smoove' {
        executor = 'slurm'
        disk = '400.GB'
        cpus = 48
        time = '24h'
        memory = '190.GB'
    }

    withName: 'tiddit_sv' {
        executor = 'slurm'
        cpus = 4
        time = '24h'
        memory = '40.GB'
    } 

    withName: 'rehead_tiddit' {
        executor = 'slurm'
        cpus = 1
        time = '10m'
        memory = '1.GB'
    }

    withName: 'tiddit_cov' {
        executor = 'slurm'
        cpus = 1
        time = '24h'
        memory = '10.GB'
    }

    withName: 'survivor_summary' {
        executor = 'slurm'
        cpus = 1
        time = '10m'
        memory = '1.GB'
    }

    withName: 'annotsv' {
        executor = 'slurm'
        cpus = 1
        time = '1h'
        memory = '10.GB'
    }
}
